<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTN Pasantias</title>

    <!--<link rel="stylesheet" href="css/styles.css">-->

</head>
<body>
    <header>
        <!--<img src="imagenes/CtnLogo.png" alt="CTN Logo" width="80" height="90"> -->
        <h1 class="h-h1">Colegio Técnico Nacional de Asunción</h1>
        <a th:href="@{/cambiar-contrasena}">Cambiar contraseña</a>
    </header>
</body>
</html>